body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
    padding-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: yellow;
}

main {
    padding: 2em;
    padding-bottom: 60px;
}

.hero {
    background: url('wpr5.avif') no-repeat center center/cover;
    color: #ffffff;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;

}

.hero h2 {
    font-size: 2.5em;


}

.hero p {
    font-size: 1.2em;
    margin: 0.5em 0 1em;
    padding-bottom: 30px;
}

.cta-button {
    background-color:#e40b0b ;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    padding-bottom: 50x;
}

.cta-button:hover {
    background-color: #ff6b6b;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.feature {
    text-align: center;
    max-width: 300px;
}

.feature img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 2.5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


#search-button {
margin-bottom: 30px;

}
.AvailableCourses {
    text-align: center;
    margin: 20px;
    padding: 20px;
   background-color: rgb(255, 217, 0);
    border: 1px solid #ddd; 
    border-radius: 8px; 
}
.AvailableCourses p {
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0); 
}

.hidden {
    display: none;
}

#Display-Course {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    flex-wrap: wrap; 
}
#backgroundHC{
background: url('HC.png') ;
padding: 50px;
background-size: cover;
background-position: center;
width: 200px;
height: 150px;
align-items: center;
justify-content: center;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
color: white;
border-radius: 10px;
display: flex;
}
#backgroundDIT{
    background: url('DIT.png') ;
padding: 50px;
background-size: cover;
background-position: center;
width: 200px;
height: 150px;
align-items: center;
justify-content: center;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
color: white;
border-radius: 10px;
display: flex;
}
#backgroundBIT{
    background: url('BIT.png') ;
padding: 50px;
background-size: cover;
background-position: center;
width: 200px;
height: 150px;
align-items: center;
justify-content: center;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
color: white;
border-radius: 10px;
display: flex;
}
#backgroundBCOM{
    background: url('BCOM.png') ;
padding: 50px;
background-size: cover;
background-position: center;
width: 200px;
height: 150px;
align-items: center;
justify-content: center;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
color: white;
border-radius: 10px;
display: flex;
}
#Display-Course h3:hover {
    color: yellow;
}
.completed {
    background-color: #d3ffd3; 
    text-decoration: line-through; 
}
#title{
    display: flex;
            align-items: center;
            justify-content: center;           
}
#BClogo {
    width: 200px; 
    height: 50px;
    margin-left: 40px; 
    margin-bottom: 20px;
}