body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
    padding-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: yellow;
}

main {
    padding: 2em;
    padding-bottom: 60px;
}

.hero {
    background: url('wpr5.avif') no-repeat center center/cover;
    color: #ffffff;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;

}

.hero h2 {
    font-size: 2.5em;


}

.hero p {
    font-size: 1.2em;
    margin: 0.5em 0 1em;
    padding-bottom: 30px;
}

.cta-button {
    background-color:#e40b0b ;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    padding-bottom: 50x;
}

.cta-button:hover {
    background-color: #ff6b6b;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.feature {
    text-align: center;
    max-width: 300px;
}

.feature img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 2.5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
@keyframes zoomInBackground {
    0% {
        background-size: 50%;
    }
    100% {
        background-size: 150%;
    }
}

#search-section {
    width: 100%; 
    margin: 0 auto; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    background: url('vecteezy_belgium-national-day-greeting-card-banner-with-template_25339948.jpg') no-repeat center center/cover;
    animation: zoomInBackground 1s ease forwards;
    transition: all 1s ease;
}



 
#search-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}
#search-bar {
    width: 40%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px;
}


#search-button {
    padding: 5px;
    font-size: 1em;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
#search-button:hover {
    background-color: darkred;
}

#course-list {
    margin-top: 20px;
}

#course-details {
    
    padding: 20px; 
    margin: 20px auto;
    max-width: 800px; 
    background: 
        linear-gradient(rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.5)), 
        url('course.png') no-repeat center center;
    background-size: contain;
    border: 1px solid #ddd;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #ffffff; 
    
}



#course-details h1,
#course-details h2,
#course-details h3 {
    color: #f3f3f3; 
    margin-top: 0; 
    margin-bottom: 15px; 
}

#course-details p {
    line-height: 1.6; 
    margin-bottom: 15px; 
}

#course-details ul,
#course-details ol {
    margin: 0;
    padding-left: 20px; 
}

#course-details li {
    margin-bottom: 10px; 
}

#course-details a {
    color: #007bff; 
    text-decoration: none; 
}

#course-details a:hover {
    text-decoration: underline; 
}




.AvailableCourses {
    text-align: center;
    margin: 20px auto; 
    padding: 20px; 
     
    background: rgb(240, 204, 5);
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%); 
    border: none; 
    border-radius: 12px; 
    
    font-family: Arial, sans-serif; 
}

.AvailableCourses h2 {
    margin-top: 0; 
    margin-bottom: 10px; 
    color: #333; 
    font-size: 1.5em; 
}
.AvailableCourses p {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255); 
}

.hidden {
    display: none;
}

#Display-Course {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    flex-wrap: wrap; 
}
#backgroundHC{
background: url('HC.png') ;
padding: 50px;
background-size: cover;
background-position: center;
width: 200px;
height: 150px;
align-items: center;
justify-content: center;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
color: white;
border-radius: 10px;
display: flex;
transition: transform 0.3s ease, box-shadow 0.3s ease;

}
#backgroundHC:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2); 
}
#backgroundDIT {
    background: url('DIT.png') no-repeat center center;
    background-size: cover;
    padding: 50px;
    width: 200px;
    height: 150px;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#backgroundDIT:hover {
    transform: scale(1.1); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2); 
}
#backgroundBIT {
    background: url('BIT.png') no-repeat center center;
    background-size: cover;
    padding: 50px;
    width: 200px;
    height: 150px;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


#backgroundBIT:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2);  
}
#backgroundBCOM {
    background: url('BCOM.png') no-repeat center center;
    background-size: cover;
    padding: 50px;
    width: 200px;
    height: 150px;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}


#backgroundBCOM:hover {
    transform: scale(1.1); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2);
}
#Display-Course h3:hover {
    color: yellow;
}
.completed {
    background-color: #d3ffd3; 
    text-decoration: line-through; 
}
#title{
    display: flex;
            align-items: center;
            justify-content: center;           
}
#BClogo {
    width: 200px; 
    height: 50px;
    margin-left: 40px; 
    margin-bottom: 20px;
}
#courseTable {
    border: none; 
    background-color: transparent;
    box-shadow: none; 
    border-collapse: collapse; 
    border-spacing: 0; 
    width: 100%; 
    margin-bottom: 50px;
    padding: 10px;
}

#courseTable th, 
#courseTable td {
    border: none;
    padding: 10px;
}

#courseTable tr:nth-child(odd) {
    background-color: #f9f9f9; 
}
#courseTable tr {
   
    transition: transform 0.5s ease-in-out; 
}

#courseTable tr:nth-child(even) {
    background-color: #e9e9e9; 
}

#courseTable th, 
#courseTable td {
    background-color: transparent; 
}
#courseTable th {
    background-color: #f4f4f4; 
    color: #333; 
    text-align: left; 
    padding: 10px; 
    font-weight: 600; 
    border-bottom: 2px solid #e0e0e0; 
}
#courseTable tr:hover {
    background-color: #f1f1f1; 
    transform: scale(1.02); 
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1); 
    font-weight: bold;
}

.complete-btn {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s; 
}

.complete-btn:hover {
    background-color: #e0e0e0;
}


.course-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


#courseTitle {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000000;
    border-bottom: 2px solid #e74c3c;
    padding-bottom: 10px;
}


#courseCode {
    font-size: 1.3em;
    margin-bottom: 5px;
    color: #000000;
}


#courseDuration {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #000000;
}


#courseDescription {
    font-size: 1.2em;
    line-height: 1.6;
    color: #000000;
}


h2, p {
    margin-left: 20px;
    margin-right: 20px;
}


#courseTitle::before, 
#courseCode::before, 
#courseDuration::before, 
#courseDescription::before {
    font-style: italic;
    color: #000000;
}

#courseTitle::before {
    content: 'Course Title: ';
}

#courseCode::before {
    content: 'Course Code: ';
}

#courseDuration::before {
    content: 'Duration: ';
}

#courseDescription::before {
    content: 'Description: ';
}

.enroll-btn{
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
#printCourseButton{
    background-color: #fdfdfd;
    color: #000000;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    margin-bottom: 20px;

}
.searchEnroll {
    display: flex;
    justify-content: center; 
    align-items: center;     
            
}
.enroll-btn:hover {
    background-color: #0056b3; 
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.flexheading {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    padding: 10px;
}
.flexheading p {
    font-size: 18px;
    margin: 0;
    margin-left: 20%; 
    font-size: 25px;
    
}
.blue-text {
    color: rgb(138, 134, 134);
}

.black-text {
    color: rgb(51, 205, 216);
}

